<div class="table-container">
  <div class="table-container__header">
    <h1>Товары на складе</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th class="table-header-th">
          <div class="table-header-block table-header-block--shadow">
            <span> Бренд</span>

            <app-input-filter
              field="brand"
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-input-filter>
          </div>
        </th>
        <th class="table-header-th">
          <div class="table-header-block">
            <span> Артикул</span>

            <app-input-filter
              field="attributes"
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-input-filter>
          </div>
        </th>
        <th class="table-header-th">
          <div class="table-header-block">
            <span> Наименование товара</span>

            <app-input-filter
              field="title"
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-input-filter>
          </div>
        </th>
        <th class="table-header-th">
          <div class="table-header-block">
            <span> Цена</span>

            <app-input-filter
              field="price"
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-input-filter>
          </div>
        </th>
        <th class="table-header-th">
          <div class="table-header-block">
            <span> Наличие</span>

            <app-checkbox-filter
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-checkbox-filter>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="table-body">
      <ng-container
        *ngIf="(dataList$ | async)?.length === 0; else tableContent"
      >
        <tr>
          <td colspan="5" class="no-data">Ничего не найдено</td>
        </tr>
      </ng-container>
      <ng-template #tableContent>
        <tr *ngFor="let item of dataList$ | async; let i = index">
          <td
            [ngStyle]="{
              'background-color':
                i % 2 !== 0
                  ? 'rgba(249, 250, 250, 1)'
                  : 'rgba(255, 255, 255, 1)'
            }"
          >
            <div class="table-body-block">
              {{ item.brand }}
            </div>
          </td>
          <td>
            <div>
              {{ item.attributes }}
            </div>
          </td>
          <td>
            <div>
              {{ item.title }}
            </div>
          </td>
          <td>
            <div>
              {{ item.price }}
            </div>
          </td>
          <td>
            <div [ngClass]="item.stock ? 'in-stock' : 'out-of-stock'">
              {{ item.stock ? "В наличии" : "Нет в наличии" }}
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
