<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>
          <div class="table-th">
            <span> Бренд</span>

            <app-input-filter
              field="brand"
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-input-filter>
          </div>
        </th>
        <th>
          <div class="table-th">
            <span> Артикул</span>

            <app-input-filter
              field="brand"
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-input-filter>
          </div>
        </th>
        <th>
          <div class="table-th">
            <span> Наименование товара</span>

            <app-input-filter
              field="brand"
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-input-filter>
          </div>
        </th>
        <th>
          <div class="table-th">
            <span> Цена</span>

            <app-input-filter
              field="brand"
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-input-filter>
          </div>
        </th>
        <th>
          <!-- Наличие
          <app-checkbox-filter
            (clearFilter)="resetField($event)"
            (setFilter)="applyFilter()"
          ></app-checkbox-filter>
        </th> -->

          <div class="table-th">
            <span> Наличие</span>

            <app-checkbox-filter
              (clearFilter)="resetField($event)"
              (setFilter)="applyFilter()"
            ></app-checkbox-filter>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataList$ | async">
        <td>{{ item.brand }}</td>
        <td>{{ item.attributes }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.price }}</td>
        <td [ngClass]="item.stock ? 'in-stock' : 'out-of-stock'">
          {{ item.stock ? "В наличии" : "Нет в наличии" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
