<div class="filter-container" clickOutside (clickOutside)="clickedOutside()">
  <div class="filter-container__search">
    <button (click)="toggleFilter($event)">
      <img src="../../../../assets/search.svg" alt="Искать" />
    </button>
  </div>

  <div *ngIf="isFilterOpened" class="filter">
    <div class="filter-top">
      <input type="text" [formControl]="controlField" />
      <button (click)="clearFilterField()">
        <img src="../../../../assets/close.svg" alt="Очистить" />
      </button>
    </div>
    <div class="filter-bottom">
      <button (click)="applyFilter()">OK</button>
      <button (click)="resetFilter()">Сбросить</button>
    </div>
  </div>
</div>
